<a href="https://colab.research.google.com/github/gazon1/Recco-challenge/blob/master/lightfm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rekko challenge 2019

```
                           /$$$$$$$  /$$$$$$$$ /$$   /$$ /$$   /$$  /$$$$$$ 
                          | $$__  $$| $$_____/| $$  /$$/| $$  /$$/ /$$__  $$
                          | $$  \ $$| $$      | $$ /$$/ | $$ /$$/ | $$  \ $$
                          | $$$$$$$/| $$$$$   | $$$$$/  | $$$$$/  | $$  | $$
                          | $$__  $$| $$__/   | $$  $$  | $$  $$  | $$  | $$
                          | $$  \ $$| $$      | $$\  $$ | $$\  $$ | $$  | $$
                          | $$  | $$| $$$$$$$$| $$ \  $$| $$ \  $$|  $$$$$$/
                          |__/  |__/|________/|__/  \__/|__/  \__/ \______/ 
                                                                            
```

Добро пожаловать на соревнование по машинному обучению от онлайн-кинотеатра [Okko](http://okko.tv) Rekko Challenge 2019.

В этом ноутбуке мы покажем вам пример простого но полного решения, от загрузки данных до формирования ответа. Для работы нам понадобятся библиотеки `pandas`, `numpy`, `scipy`, `implicit`, `pprint`, `tqdm`. Установить их в вашем рабочем окружении можно следующей командой.
```
pip install pandas numpy scipy implicit pprint tqdm
```

In [0]:
import os
import json
import pandas as pd
import numpy as np


import tqdm
import scipy.sparse as sp
from sklearn.metrics import average_precision_score as score
import time
from matplotlib import pyplot as plt

from sklearn import preprocessing
from itertools import chain

from keras.models import model_from_json
import keras
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Input, Embedding, SpatialDropout1D, Dropout, BatchNormalization, Dense,LSTM, CuDNNGRU
from keras.models import Sequential
from keras.layers import RepeatVector
from keras.layers import TimeDistributed
from keras.utils import plot_model
from keras.models import Model
from keras import optimizers

from tensorflow.python.client import device_lib


from keras import backend as K
K.tensorflow_backend._get_available_gpus()

# Let's set random seed
import tensorflow as tf
tf.set_random_seed(42)
np.random.seed(42)

from sklearn.preprocessing import LabelEncoder, MultiLabelBinarizer, StandardScaler
import itertools
from pprint import pprint

DATA_PATH = ''
%matplotlib inline

# For Google Colab only:
import sys
sys.path.append('/content/gdrive/My Drive/okko competition')
#from reco_utils.recommender.sar.sar_singlenode import SARSingleNode
from google.colab import drive
drive.mount('/content/gdrive')

DATA_PATH = 'gdrive/My Drive/Colab Notebooks/'
CODE_PATH = 'gdrive/My Drive/okko competition/code'

with open(os.path.join(DATA_PATH, 'test_users.json'), 'r') as f:
    test_users = set(json.load(f)['users'])
    
with open(os.path.join(DATA_PATH, 'catalogue.json'), 'r') as f:
    catalogue = json.load(f)
    
catalogue = {int(k): v for k, v in catalogue.items()}
catalogue = pd.DataFrame.from_dict(catalogue,'index').reset_index()
# av_hot - нужно для валидации. Эта колонка равна 1, если фильм или сериал может быть потребленным
catalogue['av_hot'] = catalogue['availability'].apply(lambda x: 1 if x == [] or 'subscription' in x else 0)
catalogue = catalogue.rename(index=str, columns={'index':'element_uid'})
catalogue.element_uid = catalogue.element_uid.astype('category')
catalogue['categ_id'] = catalogue.element_uid.cat.codes + 1

Using TensorFlow backend.

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

### Загрузка данных

Замените `DATA_PATH` на путь к данным, которые вы скачали со страницы соревнования.

In [0]:
transactions = pd.read_csv(
        os.path.join(DATA_PATH, 'transactions.csv'),
        dtype={
            'element_uid': np.uint16,
            'user_uid': np.uint32,
            'consumption_mode': 'category',
            'ts': np.float64,
            'watched_time': np.uint64,
            'device_type': np.uint8,
            'device_manufacturer': np.uint8
        }
    )

ratings = pd.read_csv(
        os.path.join(DATA_PATH, 'ratings.csv'),
        dtype={
            'element_uid': np.uint16,
            'user_uid': np.uint32,
            'ts': np.float64,
            'rating': np.uint8
        }
    )

bookmarks = pd.read_csv(
        os.path.join(DATA_PATH, 'bookmarks.csv'),
        dtype={
            'element_uid': np.uint16,
            'user_uid': np.uint32,
            'ts': np.float64
        }
    )

bookmarks['rating'] = 1
_bookmarks = bookmarks[['rating', 'user_uid', 'element_uid','ts']]
_ratings = ratings[ratings['rating']>5]
_ratings['rating'] = 1

_transaction = transactions[['element_uid', 'user_uid','ts','watched_time']]
_transaction = _transaction[(_transaction['watched_time']>700)]
_transaction['rating'] = 1

all_ratings = pd.concat([ _transaction[['user_uid', 'element_uid', 'rating', 'ts']],_bookmarks[['user_uid', 'element_uid', 'rating', 'ts']]])
all_ratings = pd.concat([all_ratings, _ratings[['user_uid', 'element_uid', 'rating','ts']]])
all_ratings = all_ratings.drop_duplicates(['user_uid','element_uid'],keep='first')
all_ratings = all_ratings.sort_values(by=['ts'],ascending=False)
all_ratings= all_ratings.rename(index=str,columns={'element_uid':'itemID','user_uid':'userID','ts':'timestamp'})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
all_ratings.itemID = all_ratings.itemID.astype('category')
all_ratings['categ_id'] = all_ratings.itemID.cat.codes + 1
cat_to_element_uid = dict(zip(
        range(1, len(all_ratings.itemID.cat.categories) + 1),
        all_ratings.itemID.cat.categories))

all_ratings.itemID = all_ratings.itemID.astype('category')
all_ratings['categ_id'] = all_ratings.itemID.cat.codes + 1
cat_to_element_uid = dict(zip(
        range(1, len(all_ratings.itemID.cat.categories) + 1),
        all_ratings.itemID.cat.categories
    ))

In [0]:
for attr in [7,10,14,15,16,17,18,19,20,21,25,31,32,42,43,52,54,83,270]:
  

  def func(row,attr=attr):
    if attr in row['attributes']:
      return 1
    else:
      return 0

  catalogue['is'+str(attr)] = catalogue.apply(func,axis=1)
catalogue['ismovie'] = 0
catalogue.loc[catalogue['type']=='movie','ismovie'] = 1
catalogue['ismulti'] = 0
catalogue.loc[catalogue['type']=='multipart_movie','ismulti'] = 1
catalogue['isseries'] = 0
catalogue.loc[catalogue['type']=='series','isseries'] = 1

def av_func_p(row):
  if 'purchase' in row['availability']:
    return 1
  else:
    return 0
def av_func_s(row):
  if 'subscription' in row['availability']:
    return 1
  else:
    return 0
def av_func_r(row):
  if 'rent' in row['availability']:
    return 1
  else:
    return 0
  
def av_func_n(row):
  if len(row['availability']) == 0:
    return 1
  else:
    return 0
catalogue['purch'] = catalogue.apply(av_func_p,axis=1)
catalogue['subs'] = catalogue.apply(av_func_s,axis=1)
catalogue['rent'] = catalogue.apply(av_func_r,axis=1)
catalogue['not_known'] = catalogue.apply(av_func_n,axis=1)

In [0]:
catalogue

,element_uid,type,availability,duration,feature_1,feature_2,feature_3,feature_4,feature_5,attributes,...,is54,is83,is270,ismovie,ismulti,isseries,purch,subs,rent,not_known
0,0,movie,[],80,2.912198e+07,0.575260,0,1.128332,0.654707,"[31115, 6713, 10906, 31116, 31117, 270, 24431,...",...,0,0,1,1,0,0,0,0,0,1
1,1,movie,"[purchase, rent]",120,6.610431e+06,0.773224,3,1.112014,0.654707,"[2786, 385, 2799, 3730, 886, 7, 11700, 42, 20,...",...,0,0,0,1,0,0,1,0,1,0
2,2,movie,[],80,1.315874e+07,0.699502,0,1.110127,0.680410,"[31442, 31443, 31444, 31445, 113, 31446, 42, 3...",...,0,0,0,1,0,0,0,0,0,1
3,3,series,[],20,4.157712e+07,0.702981,0,1.141929,0.654707,"[34361, 34362, 23033, 14887, 270, 20089, 43, 25]",...,0,0,1,0,0,1,0,0,0,1
4,4,movie,"[purchase, rent, subscription]",70,3.999579e+07,0.626596,8,1.130076,0.592716,"[26732, 26733, 26734, 9367, 7792, 336, 26735, ...",...,1,0,0,1,0,0,1,1,1,0
5,5,movie,[],100,4.048552e+07,0.693457,0,1.135231,0.680410,"[23108, 23109, 15083, 336, 23110, 123, 42, 43,...",...,0,0,0,1,0,0,0,0,0,1
6,6,movie,"[purchase, rent, subscription]",60,5.896833e+06,0.762507,14,1.121222,0.000000,"[9528, 20806, 20814, 20797, 20815, 270, 20816,...",...,0,0,1,1,0,0,1,1,1,0
7,7,movie,"[purchase, rent, subscription]",80,2.640842e+07,0.751026,12,1.135231,0.449667,"[20418, 20419, 20420, 20421, 20422, 714, 83, 7...",...,0,1,0,1,0,0,1,1,1,0
8,8,movie,"[purchase, rent]",110,7.939682e+06,0.699502,7,1.123020,0.592716,"[172, 416, 2839, 5648, 1183, 7, 5683, 32, 11, ...",...,0,0,0,1,0,0,1,0,1,0
9,9,movie,"[purchase, rent, subscription]",80,1.269700e+07,0.776458,9,0.975056,0.000000,"[16365, 18388, 18389, 18390, 17546, 3271, 396,...",...,0,0,0,1,0,0,1,1,1,0
10,10,movie,[],100,1.666610e+07,0.700997,0,1.130076,0.654707,"[10511, 2752, 9076, 1373, 472, 7, 10512, 42, 4...",...,0,0,0,1,0,0,0,0,0,1
11,11,series,"[purchase, subscription]",0,4.354689e+07,0.535610,9,1.135231,0.000000,"[6730, 34036, 34037, 34038, 270, 34039, 33936,...",...,0,0,1,0,0,1,1,1,0,0
12,12,series,[],40,4.315560e+07,0.749293,0,1.131807,0.654707,"[33482, 26930, 28504, 28141, 270, 33483, 123, ...",...,0,0,1,0,0,1,0,0,0,1
13,13,movie,"[purchase, rent, subscription]",70,1.265502e+07,0.765425,8,1.066476,0.000000,"[15809, 18490, 396, 13456, 3771, 14, 15, 3274,...",...,0,0,0,1,0,0,1,1,1,0
14,14,movie,"[purchase, rent, subscription]",90,1.278095e+07,0.752751,8,1.061854,0.592716,"[12896, 12450, 14522, 16691, 18487, 396, 18488...",...,0,0,0,1,0,0,1,1,1,0
15,15,movie,"[purchase, rent, subscription]",90,3.542955e+07,0.646848,12,1.138604,0.654707,"[1039, 1040, 1041, 435, 437, 247, 83, 1042, 42...",...,1,1,0,1,0,0,1,1,1,0
16,16,movie,"[purchase, rent, subscription]",100,1.502995e+07,0.727813,8,1.131807,0.654707,"[22532, 15035, 113, 27683, 9, 42, 14, 15, 17, ...",...,0,0,0,1,0,0,1,1,1,0
17,17,movie,[],70,9.101027e+06,0.691930,1,1.130076,0.000000,"[28658, 28659, 28660, 28661, 8422, 7, 27327, 1...",...,0,0,0,1,0,0,0,0,0,1
18,18,movie,"[purchase, rent]",100,9.884585e+06,0.744043,6,1.124804,0.680410,"[2259, 26776, 4088, 747, 6554, 7, 51, 468, 299...",...,1,0,0,1,0,0,1,0,1,0
19,19,movie,[],100,9.590751e+06,0.756175,0,1.126575,0.654707,"[4166, 797, 3310, 6162, 435, 7, 6163, 42, 6164]",...,0,0,0,1,0,0,0,0,0,1
20,20,movie,[],50,2.137009e+07,0.717518,0,1.130076,0.654707,"[27341, 7, 27342, 1241, 25]",...,0,0,0,1,0,0,0,0,0,1
21,21,movie,"[purchase, rent, subscription]",80,2.666588e+07,0.550337,9,1.128332,0.449667,"[10580, 10581, 10582, 2157, 4171, 7, 10583, 10...",...,0,0,0,1,0,0,1,1,1,0
22,22,movie,[],30,1.254309e+07,0.720826,0,1.100457,0.680410,"[19257, 19258, 2689, 51, 19259, 85, 42, 19260]",...,0,0,0,1,0,0,0,0,0,1
23,23,movie,[],70,1.325668e+07,0.625982,0,1.115741,0.654707,"[29236, 29237, 29238, 29239, 7, 29240, 42, 29241]",...,0,0,0,1,0,0,0,0,0,1
24,24,series,[subscription],20,3.489840e+07,0.753610,8,1.135231,-1.000000,"[35799, 35800, 35801, 35802, 7, 35803, 35804, ...",...,0,0,0,0,0,1,0,1,0,0
25,25,movie,"[purchase, rent, subscription]",40,4.196522e+07,0.638055,8,1.128332,-1.000000,"[31378, 270, 31127, 1134, 14, 15, 1135, 239, 20]",...,0,0,1,1,0,0,1,1,1,0
26,26,movie,"[purchase, rent, subscription]",120,3.854058e+07,0.720826,37,1.140273,0.654707,"[762, 9343, 772, 1249, 7, 1320, 1321, 31, 32, ...",...,0,0,0,1,0,0,1,1,1,0
27,27,movie,"[purchase, rent, subscription]",20,3.600076e+07,0.766254,11,1.039829,0.000000,"[5043, 9735, 638, 21960, 396, 17340, 16679, 14...",...,0,0,0,1,0,0,1,1,1,0
28,28,series,"[purchase, subscription]",50,4.035959e+07,0.770371,10,1.130076,0.654707,"[14929, 18366, 34110, 12428, 270, 34600, 130, ...",...,0,0,1,0,0,1,1,1,0,0
29,29,movie,"[purchase, subscription]",50,4.168907e+07,0.733760,18,1.130076,0.592716,"[10017, 10021, 10022, 10023, 52, 10024, 10025,...",...,0,0,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,10170,movie,"[purchase, rent]",90,1.671216e+06,0.770371,8,1.081961,0.654707,"[4935, 17633, 17634, 14144, 1984, 17635, 17636...",...,0,0,0,1,0,0,1,0,1,0
10171,10171,movie,"[purchase, rent]",150,1.426412e+07,0.758298,7,1.119409,0.654707,"[2340, 79, 4780, 3323, 15043, 192, 83, 7, 2336...",...,1,1,0,1,0,0,1,0,1,0
10172,10172,movie,[rent],110,3.842084e+07,0.714657,8,1.123020,0.654707,"[25869, 25870, 25871, 12226, 7969, 192, 7, 522...",...,0,0,0,1,0,0,0,0,1,0
10173,10173,movie,"[purchase, rent, subscription]",100,3.137653e+07,0.729194,13,1.128332,0.654707,"[605, 14022, 866, 2353, 20943, 7, 2084, 308, 5...",...,1,0,0,1,0,0,1,1,1,0
10174,10174,movie,"[purchase, rent]",100,6.162684e+06,0.732851,4,0.985033,0.592716,"[16856, 16857, 16858, 16859, 16860, 7, 11372, ...",...,0,0,0,1,0,0,1,0,1,0
10175,10175,series,[subscription],20,4.325603e+07,0.619789,11,1.121222,0.000000,"[2966, 2967, 2968, 12208, 7, 12300, 34934, 349...",...,0,0,0,0,0,1,0,1,0,0
10176,10176,movie,[],30,1.245913e+07,0.638055,0,1.110127,-1.000000,"[19664, 51, 19665, 85, 42, 19666]",...,0,0,0,1,0,0,0,0,0,1
10177,10177,movie,"[rent, subscription]",20,4.125509e+07,0.692949,13,1.131807,0.680410,"[29528, 17512, 29529, 29530, 270, 24163, 42, 6...",...,0,0,1,1,0,0,0,1,1,0
10178,10178,series,[],40,4.201823e+07,0.757874,0,1.141929,0.654707,"[15673, 17995, 34463, 34464, 270, 34465, 34466...",...,0,0,1,0,0,1,0,0,0,1
10179,10179,series,[],10,3.914035e+07,0.638055,1,1.135231,0.000000,"[34951, 192, 34952, 1492, 25]",...,0,0,0,0,0,1,0,0,0,1
10180,10180,movie,"[purchase, rent]",90,4.217835e+07,0.750161,7,1.108226,0.654707,"[2271, 9338, 9339, 8684, 7, 13217, 2683, 43, 1...",...,0,0,0,1,0,0,1,0,1,0
10181,10181,movie,"[purchase, rent]",110,6.176676e+06,0.653161,5,1.115741,0.654707,"[6493, 657, 1475, 2091, 1718, 7, 290, 123, 42,...",...,0,0,0,1,0,0,1,0,1,0
10182,10182,movie,"[purchase, rent, subscription]",80,3.735122e+07,0.464940,9,1.135231,0.654707,"[15399, 15400, 15401, 3485, 192, 1279, 5899, 3...",...,1,0,0,1,0,0,1,1,1,0
10183,10183,movie,"[purchase, rent, subscription]",90,3.478819e+07,0.702486,10,1.133525,0.680410,"[10203, 27544, 27545, 27546, 5909, 7, 24479, 3...",...,1,0,0,1,0,0,1,1,1,0
10184,10184,movie,[],90,3.452425e+07,0.793737,2,1.009705,0.592716,"[12918, 16605, 18742, 18743, 396, 18361, 3771,...",...,0,0,0,1,0,0,0,0,0,1
10185,10185,movie,"[purchase, rent, subscription]",80,2.638130e+07,0.757874,22,1.136924,0.000000,"[9458, 9459, 9460, 9461, 9462, 83, 52, 9463, 1...",...,0,1,0,1,0,0,1,1,1,0
10186,10186,movie,"[purchase, rent]",110,3.253158e+07,0.744924,5,1.135231,-1.000000,"[6834, 15946, 30147, 30148, 30149, 7, 52, 3015...",...,0,0,0,1,0,0,1,0,1,0
10187,10187,movie,"[purchase, rent]",140,6.344581e+06,0.730570,4,1.119409,0.592716,"[346, 3252, 25475, 1154, 682, 7, 52, 2363, 42,...",...,0,0,0,1,0,0,1,0,1,0
10188,10188,movie,"[purchase, rent]",110,2.527593e+07,0.727351,4,1.135231,0.592716,"[31900, 31901, 31902, 31903, 21064, 7, 31904, ...",...,0,0,0,1,0,0,1,0,1,0
10189,10189,movie,[],120,2.689619e+07,0.687308,0,1.131807,0.654707,"[7983, 11111, 11112, 11113, 3778, 270, 11100, ...",...,0,0,1,1,0,0,0,0,0,1
10190,10190,movie,"[purchase, rent, subscription]",60,6.064739e+06,0.735570,10,1.054743,0.000000,"[18674, 15809, 13956, 18675, 18676, 18677, 396...",...,0,0,0,1,0,0,1,1,1,0
10191,10191,movie,[],30,1.248712e+07,0.638055,0,1.113885,-1.000000,"[19876, 51, 19877, 85, 42, 19878]",...,0,0,0,1,0,0,0,0,0,1
10192,10192,movie,"[purchase, rent]",90,2.096636e+07,0.702981,3,1.133525,0.680410,"[16216, 2769, 2568, 14271, 7, 25006, 123, 43, ...",...,0,0,0,1,0,0,1,0,1,0
10193,10193,movie,[],80,1.131178e+07,0.712256,0,1.124804,0.654707,"[14702, 2534, 7, 14698, 308, 42, 43, 14700]",...,0,0,0,1,0,0,0,0,0,1
10194,10194,series,"[purchase, subscription]",0,3.918348e+07,0.638055,10,1.140273,0.000000,"[35523, 270, 35524, 1492, 14, 15, 3273, 25]",...,0,0,1,0,0,1,1,1,0,0
10195,10195,multipart_movie,[],60,5.910826e+06,0.638055,0,1.059508,0.449667,"[21789, 16697, 9715, 16559, 16564, 21260, 2132...",...,0,0,0,0,1,0,0,0,0,1
10196,10196,movie,"[purchase, rent, subscription]",100,1.321471e+07,0.705445,10,1.131807,0.592716,"[13648, 10177, 28682, 83, 571, 20308, 10, 11, ...",...,0,1,0,1,0,0,1,1,1,0
10197,10197,movie,"[purchase, rent, subscription]",90,3.576723e+07,0.542662,8,1.128332,0.654707,"[25842, 25843, 3568, 3451, 192, 51, 5899, 31, ...",...,1,0,0,1,0,0,1,1,1,0
10198,10198,movie,[],90,4.833433e+06,0.753610,0,1.068752,0.592716,"[18665, 16342, 21483, 21484, 17521, 21485, 148...",...,0,0,0,1,0,0,0,0,0,1
10199,10199,movie,"[purchase, rent]",90,1.345257e+07,0.600535,4,1.130076,0.680410,"[7945, 7946, 7947, 7948, 7, 51, 7949, 308, 54,...",...,1,0,0,1,0,0,1,0,1,0

In [0]:
item_features = catalogue[catalogue['element_uid'].isin(all_ratings['itemID'].values)]
item_features = item_features.drop(['type','availability','element_uid','attributes'],axis=1).values
scaler = StandardScaler()
item_features = scaler.fit_transform(item_features)

item_features = np.hstack((np.identity(item_features.shape[0]),item_features))

In [0]:
item_features.shape

(9566, 9600)

In [0]:
from collections import defaultdict

filtered_elements = defaultdict(set)

for user_uid, element_uid in tqdm.tqdm(transactions.loc[:, ['user_uid', 'element_uid']].values):
    if user_uid not in test_users:
        continue
    filtered_elements[user_uid].add(element_uid)

100%|██████████| 9643012/9643012 [00:18<00:00, 509140.52it/s]

---

---

Для примера мы воспользуемся методом K ближайших соседей, реализованным в библиотеке `implicit`. В качестве данных используем только информацию о рейтингах.

Необходимо построить разреженную матрицу, где строкам будут соответствовать элементы, столбцам — пользователи, а на пересечении пользователя и элемента будет находиться количественная оценка степени их взаимодействия, если таковое имело место.

Не забудем добавить `1` к рейтингу, чтобы избежать деления на ноль во время вычисления `tf-idf`.

In [0]:
all_ratings.head()

   userID itemID  rating     timestamp  categ_id
0    5177   3336       1  4.430518e+07      3124
1  593316    481       1  4.430518e+07       444
2  262355   4128       1  4.430518e+07      3866
3   74296   6272       1  4.430518e+07      5880
4  340623   5543       1  4.430518e+07      5186

In [0]:
all_ratings['userID'] = all_ratings['userID'].astype('category')
all_ratings['itemID'] = all_ratings['itemID'].astype('category')

ratings_matrix = sp.coo_matrix(
    (all_ratings['rating'].astype(np.float32) + 1,
        (
            all_ratings['itemID'].cat.codes.copy(),
            all_ratings['userID'].cat.codes.copy()
        )
    )
)

ratings_matrix = ratings_matrix.tocsr()
ratings_matrix_T = ratings_matrix.T.tocsr()

In [0]:
sparsity = ratings_matrix.nnz / (ratings_matrix.shape[0] * ratings_matrix.shape[1])
print('Sparsity: %.6f' % sparsity)
ratings_matrix.shape

Sparsity: 0.001751

(9566, 496046)

Обучить модель крайне просто.

Отображения из оригинальной категории во внутреннюю пригодится нам в дальнейшем.

In [0]:
user_uid_to_cat = dict(zip(
    all_ratings['userID'].cat.categories,
    range(len(all_ratings['userID'].cat.categories))
))

element_uid_to_cat = dict(zip(
    all_ratings['itemID'].cat.categories,
    range(len(all_ratings['itemID'].cat.categories))
))


filtered_elements_cat = {k: [element_uid_to_cat.get(x, None) for x in v] for k, v in filtered_elements.items()}

In [0]:
# основная функция для валидации модели
def validation(dict_):
  d1 = {}
  with open(DATA_PATH+'my_best.json', 'r') as f:
    d1 = json.load(f)
  av = []


  for key in d1.keys():
      if key in dict_.keys():
          ar1 = np.array(d1[key])
         # print(ar1)
          ar2 = np.array(dict_[key])
          inter = np.intersect1d(ar1,ar2)
          av.append(len(inter))
          to_add = []
          for el in ar1:
              if el  in inter:
                  to_add.append(el)
          for el in ar1:
              if el  not in to_add:
                  to_add.append(el)


          to_add = np.array(to_add)
  return np.mean(av),np.var(av)

def shuffle(dict_):
  d = {}
  d1 = {}
  with open(DATA_PATH+'my_best.json', 'r') as f:
    d1 = json.load(f)
  
  for key in dict_.keys():
    if key in d1.keys():
      ar1 = np.array(dict_[key])
       # print(ar1)
      ar2 = np.array(d1[key])
      inter = np.intersect1d(ar1,ar2)

      to_add = []
      for el in ar1:
        if el  in inter:
          to_add.append(el)
      for el in ar1:
        if el  not in to_add:
          to_add.append(el)
        
        
      to_add = np.array(to_add)
        
      d[key] = list(map(int,list(to_add)))

    else:
      d[key] = dict_[key]
      
  return d

In [0]:
!pip3 install lightfm

Collecting lightfm
  Downloading https://files.pythonhosted.org/packages/e9/8e/5485ac5a8616abe1c673d1e033e2f232b4319ab95424b42499fabff2257f/lightfm-1.15.tar.gz (302kB)
    100% |████████████████████████████████| 307kB 7.3MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.16.2)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.2.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from lightfm) (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2019.3.9)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/eb/bb/ac/188385a5da6627956be5d9663928483b36da576149ab5b8f79
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.15

In [0]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score
from scipy import sparse
from lightfm.datasets import fetch_movielens

In [0]:
#%%time
model = LightFM(loss='warp',no_components=15)
#model.fit(ratings_matrix_T, epochs=10, num_threads=4,verbose=True)

model.fit(ratings_matrix_T, item_features=sparse.csr_matrix(item_features), epochs=50, num_threads=4,verbose=True)

Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9

In [0]:
d1 = {}
t = sparse.csr_matrix(item_features)
for user in tqdm.tqdm(list(test_users)):
   # print(user)
  try:
    cats = list(np.argsort(-model.predict(user_uid_to_cat[int(user)],[i for i in element_uid_to_cat.values()],\
                                           item_features=t,
                                          num_threads=30  )))[:80]

    d1[str(user)] = [int(all_ratings['itemID'].cat.categories[i]) for i in cats if i not in filtered_elements_cat[user]]
      #print(d[str(user)])
    d1[str(user)] = d1[str(user)][:20]
  except:
    pass
print(validation(d1))

to_send = shuffle(d1)

In [0]:
with open(os.path.join(DATA_PATH, 'answer_50.json'), 'w') as f:
    json.dump(to_send, f)

In [0]:
np.argsort(-model.predict(user_uid_to_cat[13],[i for i in element_uid_to_cat.values()],\
                                           item_features=t,num_threads=30  ))

array([ 197,  117,  513, ..., 9038, 8921, 9261])

In [0]:
len(to_send)

49895